<% if !user_signed_in? %>
<div class="jumbotron">
  <h1>Your favourite movies reviewed</h1>
  <p>Roof party small batch beard cronut selvage Carles, yr cray XOXO 8-bit artisan ugh. Four loko PBR&B asymmetrical Truffaut 3 wolf moon direct trade. Selfies yr gentrify 90's </p>
  <p><%= link_to "Sign up to write a review", new_user_registration_path, class: "btn btn-primary btn-lg" %></p>
</div>
<% end %>

<div class="row">
  <% @movies.each do |movie| %>
  <div class="col-sm-6 col-md-3">
    <div class="thumbnail">
      <%= link_to (image_tag movie.image.url(:medium), class: "image"), movie %>
    </div>
  </div>
  <% end %>
</div>





